:root {
  --max-width: 1100px;
  --border-radius: 12px;

  /* colors  */
  --red: #d90429;
  --red2: #d41121;
  --pink: #ef233c;
  --grey: #edf2f4;
  --grey2: #dce3e5;
  --greyT: #edf2f4f3;
  --light: #8d99ae;
  --light2: #b8c0cb;
  --lightT:rgba(141, 153, 174, 0.342);
  --navy: #2b2d42;


}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--grey);
}

.content > * {
  /* border: 10px solid green; */
  margin: 100px 0;
}

@media (max-width: 400px) {
  .content > * {
    margin: 60px 0;
  }
}