:root {
  --max-width: 1100px;
  --border-radius: 12px;

  /* colors  */
  --red: #d90429;
  --pink: #ef233c;
  --grey: #edf2f4;
  --greyT: #edf2f4be;
  --light: #8d99ae;
  --navy: #2b2d42;


}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--grey);
}
