.main {
  /* background-color: aliceblue; */
  max-width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px;

}

.main h1 {
  text-align: center;
  font-size: 3.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.qa {
  /* height: 120px; */
  transition: all .7s ease;
  overflow-y: hidden;
  border-bottom: 1px solid var(--light);

  position: relative;
  z-index: -1;

}

.q {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;

  position: absolute;
  z-index: -1;

  top: 60px;
  left: 50px;
  transform: translateY(-50%);
}
.content img {
  /* width: 30px;
  height: 30px; */
  position: absolute;
  top: 60px;
  right: 50px;
  transform: translateY(-50%);
}

.a {
  margin: 130px 50px 40px 50px;
}

@media (max-width: 730px) {
  .q {
    left: 20px;
  }
  .main img {
    right: 20px;
  }
  .main h1 {
    font-size: 2.7rem;
  }
}
@media (max-width: 640px) {
  .content {
    width: 90%;
  }
  .q {
    margin-right: 70px;
  }
}
@media (max-width: 490px) {
  .q {
    font-size: 1.3rem;
  }
  .a {
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media (max-width: 350px) {
  .a {
    margin-right: 15px;
    margin-left: 15px;
  }
}


