.main {
  background-color: aliceblue;
  display: flex;
  min-height: 350px;
  flex-wrap: wrap;
}
.main > * {
  border: 1px solid red;
}
.left {
  flex-grow: 1;
  flex-basis: 200px;
}
.right {
  flex-grow: 4;
  flex-basis: 300px;

  box-sizing: border-box;
  padding: 20px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.right > * {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  flex-basis: 150px;
  border: 1px solid green;
}
.right a {
  text-decoration: none;
  color: inherit;
  margin: 10px 0;
}