.main {
  background-color: var(--lightT);
  display: flex;
  min-height: 450px;
  flex-wrap: wrap;

  margin: 30px auto 0px auto;
}

.left {
  flex-grow: 1;
  flex-basis: 260px;
  box-sizing: border-box;
  padding: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left > * {
  transform: translatey(-30px);
}
.left p {
  line-height: 1.6;
  margin: 0 0 35px 0;
  max-width: 400px;
}

.right {
  flex-grow: 4;
  flex-basis: 350px;

  box-sizing: border-box;
  padding: 20px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.right > * {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  flex-basis: 150px;
}
.right a {
  text-decoration: none;
  color: inherit;
  margin: 10px 0;
  color: var(--light);
}

@media (max-width: 609px) {
  .left {
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .right > * {
    margin-top: 0px;
  }
}