.main {
  background-color: var(--grey);
  height: 600px;

  display: flex;
}
.main > * {
  flex: 1;
}
.left {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left h1 {
  font-size: 2.4rem;
}
.left p {
  font-size: 1.1rem;
}
.left span {
  color: var(--red);
}
.left p {
  color: var(--light);
  margin-top: 0;
  /* text-align: justify; */
}
.left > * {
  transform: translateY(-60px);
  max-width: 400px;
}

.img {
  width: 90%;
  height: 90%;
}