.main {
  /* border: 4px solid lightblue; */
  /* height: 600px; */
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
}

.main > * {
  flex: 1;
  /* border: 1px solid red; */
}

/* LEFT SIDE */
.leftContent {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
.leftContent img {
  width: 55px;
  /* height: 50px; */
}

.card1, .card2, .card3, .card4 {
  width: 250px;
  height: 300px;
  border-radius: 30px;
  border: 2px solid var(--lightT);

  box-sizing: border-box;
  padding: 30px;
  margin: 10px 5px;
}
.card1 {
  background-color: var(--navy);
  color: var(--grey);
}
.card3 {
  height: 320px;
}

/* RIGHT SIDE */
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right p {
  color: var(--light);
  font-size: 1.2rem;
}
.right h2 {
  font-size: 2rem;
}
.rightContent {
  margin: 60px;
}

.spacer {
  position: relative;
  padding-left: 100px;
  /* z-index: -1; */
}
.spacer::before {
  content: '';

  background-color: var(--red);
  width: 90px;
  height: 3px;
  position: absolute;
  left: 0;
  top: calc(50% - 1.5px);
}

@media (max-width: 890px) {
  .main {
    flex-direction: column-reverse;
  }
  .header, .subheader {
    max-width: 500px;
  }
  .right {
    display: flex;
    align-items: center;
  }
  .rightContent {
    margin: 20px;
  }
  .leftContent {
    margin-left: 0;
  }
}
@media (max-width: 540px) {
  .leftContent {
    flex-direction: column;
    align-items: center;
  }
  .card1, .card2, .card3, .card4 {
    width: calc(100% - 30px);
    margin: 15px;
    height: fit-content;
  }
  .card3 {
    margin-top: 0;
  }

}