.main {
  background-color: aliceblue;
  max-width: 1200px;
  border-radius: 30px;

  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.main h1, .main > p {
  text-align: center;
}
.main h1 {
  font-size: 2.8rem;
}
.main img {
  width: 20px;
  height: 20px;
}
.subheader {
  margin-top: 5px;
  margin-bottom: 50px;
}

.content {
  display: flex;
}
.content > * {
  flex: 1;
}

/* RIGHT */

.right > * {
  background-color: var(--lightT);
  border-radius: 30px;
  padding: 20px;

  max-width: 450px;
  margin: 20px auto;
}
.right .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right h2 {
  margin: 15px 0;
}

/* LEFT */
.left {
  border: 1px solid grey;
}