.main {
  /* background-color: aliceblue; */
  max-width: 1200px;
  border-radius: 30px;

  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.main h1,
.main > p {
  text-align: center;
}
.main h1 {
  font-size: 2.8rem;
}
.main img {
  width: 20px;
  height: 20px;
}
.mainHeader {
  margin-bottom: 5px;
}
.subheader {
  margin-top: 15px;
  margin-bottom: 15px;
}

.content {
  display: flex;
}
.content > * {
  flex: 1;
}

/* RIGHT */
.right {
  /* border: 1px solid green; */
}

.right > * {
  background-color: var(--lightT);
  border-radius: 30px;
  padding: 20px;

  max-width: 450px;
  margin: 20px auto;
}
.right .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right h2 {
  margin: 15px 0;
}

/* LEFT */
.left {
  /* border: 1px solid blueviolet; */
  /* display: flex;
  align-items: center; */
  padding: 15px;
}
.vimeoVid {
  transform: translateY(50%);
}

.explainerPara {
  display: none;
  max-width: 400px;
  margin: 10px auto;
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column-reverse;
  }
  .vimeoVid {
    transform: translateY(10%);
  }
  .right h2 {
    margin: 0;
    font-size: 1.3rem;
    text-align: center;
  }
  .right img {
    display: none;
  }
  .subheader {
    margin-bottom: 10px;
  }
  .right > * {
    padding: 20px;
    margin: 9px;
  }
  .right p {
    margin: 14px 0 0 0;
    display: none;
  }
  .right {
    display: flex;
    justify-content: center;
  }
  .explainerPara {
    display: block;
  }
}

@media (max-width: 490px) {
  .right > * {
    padding: 15px;
    margin: 4px;
  }
}
